<style>
    .custom-a {
        text-decoration: none;
        color: white;
    }

    .custom-a:hover {
        text-decoration: none;
        color: rgb(212, 212, 212);
    }

    .bold-link {
        font-weight: bold;
    }
</style>

<html>
    <head>
        <title>LeoChat - Impostazioni account</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    </head>
    <body style="background-color: #36393F;">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-shadow">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/myDashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/chats">Le mie chat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account">Account</a>
                    </li>
                </ul>
            </div>
        </nav>
        <br>
        <!--div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="card" style="background-color: rgb(32, 31, 31);">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-9">
                                    <h1 style="color: white;">Impostazioni account</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div!-->
        <div class="d-flex justify-content-center">
            <div class="row">
                <div class="col">
                    <div class="card mx-auto" style="background-color: rgb(32, 31, 31); width: 300px;">
                        <div class="card-body">
                            <a href="/account" class="custom-a" onclick="boldOnClick(this)" id="accountLink">Generale</a>
                            <hr style="color: white;">
                            <a href="/account/security" class="custom-a" onclick="boldOnClick(this)" id="securityLink">Privacy e Sicurezza</a>
                            <hr style="color: white;">
                            <a href="/account/friends" class="custom-a" onclick="boldOnClick(this)" id="friendsLink">Amici</a>
                            <hr style="color: white;">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="background-color: rgb(32, 31, 31); width: 800px;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-9">
                                    <h1 style="color: white;">Impostazioni account</h1>
                                    <hr style="color: white;">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <img class="rounded-circle shadow-4-strong" height="60" weight="90" alt="usericon" src="/assets/icons/chats/test.jpg" />
                                        </div>
                                        <div class="col-md-4 d-flex align-items-center">
                                            <h3 style="color: white; margin-left: 15px;">{{username}}</h1>
                                            <a href="#"><!--ion-icon name="create-outline" style="color: white; margin-left: 5px;"!--><!--/ion-icon!--><span class="material-symbols-outlined" style="color: white; margin-left: 5px;">edit</span> </a>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="card" style="background-color: rgb(51, 50, 50); width: 765px;">
                                        <div class="card-body">
                                            <p style="color: rgb(153, 153, 153); font-weight: bold;">ID</p>
                                            <p style="color: white;">{{userid}}</p>
                                            <p style="color: rgb(153, 153, 153); font-weight: bold;">E-MAIL</p>
                                            <div class="col-md-4 d-flex align-items-center">
                                                <p style="color: white;">{{email}}</p>
                                                <a href="#"><span class="material-symbols-outlined" style="color: white; margin-left: 5px; font-size: 20px; margin-bottom: 14px;">edit</span></a>
                                            </div>                                        
                                        </div>
                                    </div>
                                    <br>
                                    <h2 style="color: white;">Danger zone</h2>
                                    <hr style="color: white">
                                    <span style="color: rgb(153, 153, 153)">La disattivazione dell'account comporterà la <span style="font-weight: bold;">sospensione</span> dell'account per 30 giorni e la <span style="font-weight: bold;">rimozione</span> da tutti i gruppi chat.</span>
                                    <br>
                                    <br>
                                    <div class="col-md-8 d-flex align-items-center">
                                        <button type="button" class="btn btn-danger">Disattiva account</button>
                                        <button type="button" class="btn btn-outline-danger" style="margin-left: 20px;" data-toggle="modal" data-target="#delAccount">Elimina account</button>
                                    </div>
                                    <br>
                                    {{#if errorMessage}}
                                        <p style="color: red; font-weight: bold;">{{message}}</p>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

        <!--DELETE ACCOUNT MODAL!-->
        <div class="modal fade" id="delAccount" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content text-light" style="background-color: rgb(49, 49, 49)">
                        <div class="modal-header">
                            <h5 class="modal-title" id="changePasswordModalTitle">Elimina account</h5>
                            <span type="button" data-dismiss="modal" aria-label="Close">&times;</span>
                        </div>
                        <div class="modal-body">
                            <div class="step step-1">
                                <h4 style="color: white;">Sei sicuro di voler eliminare il tuo account?</h4>
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="btn btn-danger" id="btn-next">Si, eliminalo</button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" style="margin-left: 10px;">No! Non eliminarlo!</button>                             
                                </div>
                            </div>
                            <div class="step step-2" style="display: none;">
                                <div class="row justify-content-center">
                                    <div class="col-auto">
                                        <form action="/account/actions/delete" method="POST">
                                            <p style="color: rgb(153, 153, 153); font-weight: bold; font-size: 13px;">PASSWORD ATTUALE</p>
                                            <input type="password" id="password" name="password" class="form-control text-light" style="background-color: #1d1d1d; border-color: #1d1d1d; width: 400px;" required="true"> 
                                            <br>
                                            <div class="d-flex justify-content-end">
                                                <button type="submit" class="btn btn-danger ml-auto" id="btn-finish" style="display: none;">Elimina</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script>
            var currentUrl = window.location.href;
            var splittedUrl = currentUrl.split('/');
            var link = splittedUrl[splittedUrl.length - 1];
            var accountLink = document.getElementById('accountLink');
            console.log(link);
            
            if (link === 'account') {
                accountLink.classList.add('bold-link');
            }

            document.addEventListener("DOMContentLoaded", function() {
                var currentStep = 1;
                var totalSteps = 2;

                var btnPrevious = document.getElementById("btn-previous");
                var btnNext = document.getElementById("btn-next");
                var btnFinish = document.getElementById("btn-finish");
                var modalBody = document.querySelector(".modal-body");

                var steps = Array.from(modalBody.querySelectorAll(".step"));

                btnNext.addEventListener("click", function() {
                if (currentStep < totalSteps) {
                    steps[currentStep - 1].style.display = "none";
                    steps[currentStep].style.display = "block";

                    currentStep++;

                    if (currentStep === totalSteps) {
                    btnNext.style.display = "none";
                    btnFinish.style.display = "inline-block";
                    }

                    btnPrevious.style.display = "inline-block";
                }
                });

                btnPrevious.addEventListener("click", function() {
                if (currentStep > 1) {
                    steps[currentStep - 1].style.display = "none";
                    steps[currentStep - 2].style.display = "block";

                    currentStep--;

                    if (currentStep === 1) {
                    btnPrevious.style.display = "none";
                    }

                    btnNext.style.display = "inline-block";
                    btnFinish.style.display = "none";
                }
                });
            });
        </script>
    </body>
</html>