<!DOCTYPE html>
<style>
  .navbar-shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0,1);
  }

  .card:hover {
    background-color: rgb(27, 27, 27);
  }

  .btn-sq {
    width: 100px;
    height: 100px;
  }

  .btn-sq.selected {
    border-color: green;
  }

  .btn-sq.selected::before {
    border-color: green;
    content: "\f14a";
    font-family: "Ionicons";
    transform: translate(-50%, -50%); 
  }
</style>
<html>
  <head>
    <title>LeoChat - Chats</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
  </head>
  <body style="background-color: #36393F;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-shadow">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/myDashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/chats">Le mie chat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/account">Account</a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="card" style="background-color: rgb(32, 31, 31);">
            <div class="card-body">
              <div class="row">
                <h1 style="color: white;">Le mie chat</h1>
                <div class="d-flex justify-content-end">
                  <button type="button" class="btn btn-secondary btn-lg" style="background-color: rgb(46, 46, 46); border-color: rgb(46, 46, 46);" data-toggle="modal" data-target="#newChat">Nuova chat</button>
                </div>
              </div>
              <br>
              {{#if username}}
                <a href="/chats/1234" class="card shadow-hover" style="background-color: rgb(68, 68, 68); text-decoration: none;">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle shadow-4-strong" height="50" weight="80" alt="chaticon" src="/assets/icons/chats/test.jpg" />
                            <h5 class="card-title" style="color: white; margin-left: 20px;">I polli (Chat di test)</h5>
                        </div>
                    </div>
                </a>
              {{else}}
                <h3 style="color: white;">Al momento non hai chat!</h5>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <!-- NEW CHAT MODAL!-->

    <div class="modal fade" id="newChat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-light" style="background-color: rgb(49, 49, 49)">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Crea una nuova chat</h5>
            <span type="button" data-dismiss="modal" aria-label="Close" aria-hidden="true">&times;</span>
          </div>
          <form action="/chats/new" method="POST" enctype="multipart/form-data">
            <div class="modal-body">
              <div class="step step-1">
                <h4 class="text-center">Dicci che chat vorresti creare:</h4>
                <div class="row justify-content-center">
                  <div class="col-auto">
                    <button type="button" id="btnGroup" name="btnGroup" value="group" class="btn btn-primary btn-sq" style="background-color: #202020; border-color: #202020;" data-original-content="Gruppo">Gruppo<br><ion-icon name="people-outline"></ion-icon></button>
                  </div>
                  <div class="col-auto">
                    <button type="button" id="btnSingle" name="btnSingle" value="single" class="btn btn-primary btn-sq" style="background-color: #202020; border-color: #202020;" data-original-content="Singola">Singola<br><ion-icon name="person-outline"></ion-icon></button>
                  </div>
                </div>
              </div>
              <div class="step step-2" style="display: none;">
                <div class="form-outline">
                  <input class="form-control text-light" id="nameForm" name="nameForm" type="text" placeholder="Dai un nome unico a questa chat" style="background-color: #202020; border-color: #202020; color: white;" required="true">
                </div>
              </div>
              <div class="step step-3" style="display: none;">
                <h4 class="text-center">Invita qualcuno!</h4>
                {{#if friends}}
                    <div class="card" style="background-color: rgb(32, 31, 31);">
                      <div class="card-body overflow-auto" style="max-height: 130px;">
                        <div class="card-text">
                          {{#each friends}}
                            <button class="card shadow-hover" style="background-color: rgb(68, 68, 68); text-decoration: none;">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <img class="rounded-circle shadow-4-strong" height="50" weight="80" alt="chaticon" src="/assets/icons/chats/test.jpg" />
                                        <h5 class="card-title" style="color: white; margin-left: 20px;">Pollo (amico)</h5>
                                    </div>
                                </div>
                            </button>
                          {{/each}}
                          <br>
                        </div>
                      </div>
                    </div>
                {{else}}
                  <h5 class="text-center">Mi spiace, non hai amici nella tua lista amici!</h4>
                {{/if}}
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" id="btn-previous" style="display: none;">Indietro</button>
              <button type="button" class="btn btn-primary" id="btn-next">Avanti</button>
              <button type="submit" class="btn btn-success" id="btn-finish" style="display: none;">Fine</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var squareButtons = document.querySelectorAll('.btn-sq');

        squareButtons.forEach(function(button) {
          button.addEventListener("click", function() {                       // https://chat.openai.com/c/057a488f-c1ea-469e-93aa-666dbf7ee28c
            squareButtons.forEach(function(btn) {
              btn.style.border = 'none';
              btn.innerHTML = btn.getAttribute("data-original-content");
            });

            this.style.border = "2px solid green";
            this.setAttribute('data-original-content', this.innerHTML);
            this.innerHTML = '<ion-icon name="checkmark-outline"></ion-icon>' + this.innerHTML;
          });
        });
      });


      document.addEventListener("DOMContentLoaded", function() {
        var currentStep = 1;
        var totalSteps = 3;

        var btnPrevious = document.getElementById("btn-previous");
        var btnNext = document.getElementById("btn-next");
        var btnFinish = document.getElementById("btn-finish");
        var modalBody = document.querySelector(".modal-body");

        var steps = Array.from(modalBody.querySelectorAll(".step"));

        btnNext.addEventListener("click", function() {
          if (currentStep < totalSteps) {
            steps[currentStep - 1].style.display = "none";
            steps[currentStep].style.display = "block";

            currentStep++;

            if (currentStep === totalSteps) {
              btnNext.style.display = "none";
              btnFinish.style.display = "inline-block";
            }

            btnPrevious.style.display = "inline-block";
          }
        });

        btnPrevious.addEventListener("click", function() {
          if (currentStep > 1) {
            steps[currentStep - 1].style.display = "none";
            steps[currentStep - 2].style.display = "block";

            currentStep--;

            if (currentStep === 1) {
              btnPrevious.style.display = "none";
            }

            btnNext.style.display = "inline-block";
            btnFinish.style.display = "none";
          }
        });
      });
    </script>
  </body>
</html>